@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');
:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;
    --primary-color:white;
    --second-color:black;
    --maximum-yellow-red: hsl(0, 0%, 100%);
  --royal-blue-dark: hsl(0, 0%, 0%);
  --silver-chalice: hsl(0, 0%, 70%);
  --oxford-blue: hsl(231, 100%, 8%);
  --bittersweet: #44caff;
  --french-rose: #44caff;
  --davys-gray: hsl(180, 3%, 28%);
  --cool-gray: hsl(240, 13%, 62%);
  --platinum: hsl(0, 0%, 92%);
  --white-2: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --rythm: hsl(240, 9%, 53%);
  --glass-bg: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  /**
   * typography
   */

  --ff-poppins: "Expletus Sans";

  --fs-1: 32px;
  --fs-2: 26px;
  --fs-3: 22px;
  --fs-4: 18px;
  --fs-5: 15px;
  --fs-6: 14px;

  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #44caff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}
*{    margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}




body {
    height: 100vh;
 
    position: relative;
    overflow-y: scroll;
    place-items: center;
   font-family: var(--ff-poppins);

    background-color: var(--bg-main);
}


input {  overflow-x: hidden;
  font-family: var(--ff-poppins);
}

.logo img{
  width: 120p;
  height: 50px;
  margin-left: 80px;
  }

  html{
    scroll-behavior: smooth;
    position: relative;
  }
  li { list-style: none; }
  /*head*/
  .hi {
    position: fixed;
    padding: 5px 0;
    background-color: white;
    z-index: 100000;
    width: 100%;
    transition: 0.5s;
    top: 0;
    
  
  }
  .hi.stcr {

top: 0;
    padding: 5px 40px;
    background-color:white;
    box-shadow: 0 5px 20px 0.1px rgb(36, 36, 36);
  
    
  
  }
  .hi.stcr .btn-primar{
    color: #0099ff;
  font-size: 10px bold;
    width: 150px;
    padding: 8px 7px;
    cursor: pointer; 
    text-decoration:none; 
  }
  #user {

    background: none;
    color: #0099ff;
    padding: 5px;
    font-size: 22px;
    height: 35px;
   
}
.hi.stcr .navb-list{
  padding: 1px;
}

#user:hover{

    background: #0099ff;
    border: 1px solid white;
    border-radius: 15px;
    
    color: rgb(255, 255, 255);
}
.hi.stcr .logo {
    position: relative;
  }
  .hi.stcr ul, header.stcr .ren,  header.stcr nav ul a, header.stcr .na-link{
    
       padding: 5px;
       color: black;
       
     
  }
   .containe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }




  .navb-list { text-decoration: none; padding: 10px; transition: 0.5s; align-content: center;}

.nav-item:not(:last-child) { 
border-bottom: 1px  solid hsla(0, 0%, 100%, 0.2); }
.navb-list{
margin-top: 10px;
}

.hi .na-link { transition: 0.5s;

color: var(--royal-blue-dark);
font-weight: var(--fw-600);
padding: 5px;
opacity: 80%;
transition: 0.5s;

align-content: center;
}
.hi .na-link:hover{
color: #0099ff;

}
.btn-primar:hover{
background-color: #0099ff;
color: white;


}


.hi.stcr .btn-primar:hover{
background-color: #0099ff;
color: white;


}
.na-link:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.2); }

.navb.active .na-link {
transition-delay: 0.2s;
opacity: 1;

}


.btn-primar { 
  display: block;
  transition: 0.5s; 
  text-decoration: none;

  cursor: pointer; 
  text-decoration:none; 
  width: 200px;}



.navb {
position: relative;
gap: 15px;
margin-right: 70px;
background: var(--maximum-yellow-red);
max-height: 100px;
display: flex;
align-items: center;

transition: var(--transition);

overflow: hidden;
transition: 0.5s;
} 
.btn-primar{
  background: none;
border-color: var(--bittersweet);
color: #0099ff;
font-size: 13.5px;
text-transform: none;
font-weight: var(--fw-700);
padding: 10px 40px;
border: 1px solid;
border-radius: 0px 10px;

}


.principale{
  display: flex;
margin-top: 20px;
  gap: 55px;
  height: 750px;
width: 1320px;
position: relative;



}




/* Main Container */

/* Main Containers */
.main-flex-container {
  max-width: 1300px;
  position: relative;
   height: 150px;
  display: flex;
  margin: 0;
  flex-flow: row nowrap;
  margin-top: 45px;
margin-left: 55px;
  justify-content: center;
  background: var(--glass-bg);
}

/* User Content */
.tweets img {
  display: block;
  width: 100%;
}
.tweets .user-pics img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0.5rem 1rem;
}
.tweets {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 15px;
  width: 500px;
  line-height: 1.75rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid rgb(230, 236, 240);
  box-shadow: 0 5px 10px 0.1px rgb(105, 105, 105);
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: white;
 
}
.tweets:hover {
  background: rgb(245, 248, 250);
}
.full-name:hover {
  text-decoration: underline;
}
.user-content img {
  border-radius: 20px;
}
.user-content {
  font-family: var(--ff-poppins);
  padding-right: 1rem;
  color: rgb(48, 52, 56);
  font-weight: 200;
  line-height: 1.5;
}
.user-content a {
  color: rgb(27, 149, 224);
}

.user-content-box {
  display: flex;
  flex-flow: column nowrap;
  color: rgb(20, 23, 26);
  margin-left: 15px;
width: 100%;

}

.user-content-box p{
font-weight: 100;
}
.user-content-box .user-names {
  display: flex;
  flex-flow: row nowrap;
}
.user-names .full-name {
  padding-right: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(20, 23, 26);
}
.user-names .user-name {
  padding-right: 10px;
  font-size: 1.05rem;
  font-weight: 400;
  color: rgb(101, 119, 134);
}
.time {
  color: rgb(101, 119, 134);
}
.user-names i {
  padding-top: 0.6rem;
  margin-left: 50%;
  color: rgb(101, 119, 134);

}
.addi{
  background: #0099ff;
  border:  none ;
  color: white;
  width: 150px;
  transition: 0.5s;
  border-radius: 8px;
}
.titre{
  display: flex;
  gap: 5px;
}
.titre h6{
font-weight: 400;
font-size: 12px;
margin-left: 100px;

width: 155px;
}
.titre h5{
  font-size: 18px;
width:500px;
  }
.addi:hover{
  background: white;
  border:  1px solid #0099ff ;
  color: #0099ff;
  width: 150px;
  padding: 1px;
  transition: 0.5s;
  border-radius: 8px;
}
.modal .modal-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modal-footer button {
  background: #0099ff;
  border:  none ;
  color: white;
  width: 150px;
  transition: 0.5s;
  border-radius: 8px;
  padding: 3px;
}
.content-icons {
  display: flex;

  justify-content: center;
  align-items:left;
  padding: 1rem ;
}

.content-icons i {
  color: rgb(101, 119, 134);
  font-size: 1rem;
  cursor: pointer;
  
}
.content-icons i:last-child {
  font-size: 14px;
}

.content-icons .blue:hover {
  color: rgba(29, 161,242,1.00);
}
.content-icons .green:hover {
  color: rgb(23 191 99);
}
.content-icons .red:hover {
  color: rgb(224, 36, 94);
}
.content-icons .blue:hover {
  color: rgba(29, 161,242,1.00);
}

/* Right Navbar */
.search-box {
  border: none;
  border-radius: 8px;
  padding: 0.1rem 1rem;
  background: rgb(230, 236, 240);
  margin-top: 0.5rem;
  white-space: nowrap;
  margin-bottom: 15px;
}
.search-box i {
  color: rgb(101, 119, 134);
  font-size: 0.9rem;
}
.search-box input {
  padding: 0.8rem 8rem 0.8rem 0.2rem;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 0.9rem;
  background: rgb(230, 236, 240);
  width: 100%;
}

.cont{
  position:relative;
  margin-top: 55px;
  width: 700px;
  height: 200px;
  margin-bottom: 15px;

  background-color: white;
  border-radius: 15px;
  left: 0%;
  transition: height 0.2s ease;
  box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.cont.active{
  height: 400px;
}
.cont .wrap{
  width: 1000px;
  display: flex;

}
.cont .wrap section{
  width: 500px;
  background: var(--glass-bg);
 
}

.cont .post{
  transition: margin-left 0.18s ease;

  
}
#srch{
  color: #0099ff;
  background: none;
border: none;
outline: none;
  margin-left: -15px;
  cursor: pointer;
  transition: 0.5s;
}

.cont.active .post{
  margin-left: -500px;
}
.post h3{
  font-size: 18px;
  font-weight: 600;
  padding: 12px 0;
  margin-left: 25px;
  width: 650px;

  border-bottom: 1px solid #bfbfbf;
}
.post form{
  margin: 20px 25px;
  
}
.post form .content
{
  display: flex;
  align-items: center;
}



form :where(textarea){
  width: 100%;
  outline: none;
  border: none;
  padding: 15px;
}
form :where(.b1){
  width: 75px;
  outline: none;
  border: none;
  
}
form textarea{
  background: var(--glass-bg);
  resize: none;
  height: 70px;
  font-size: 15px;
  margin-top: 0px;

  font-family: var(  --ff-poppins);
  font-weight: 400;
  border-radius: 15px;
}
form textarea::placeholder{
  font-size: 15px;
  color: #858585;

}
form textarea:focus::placeholder{
  color: #b3b3b3;

}




form .b1{
  height: 43px;
  margin-left: 550px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #BCC0C4;
  cursor: no-drop;
  border-radius: 7px;
  background: #e2e5e9;
  transition: all 0.3s ease;
}
form textarea:valid ~ .b1{
  color: #fff;
  cursor: pointer;
  background: #4599FF;
}
form textarea:valid ~ .b1:hover{
  background: #1a81ff;
}
.mes-pub{

}
.place {
  position: absolute;
  overflow-y:scroll;
   background: var(--glass-bg);

  width: 700px;
   border-radius: 15px;
   height: 350px;
   padding: 0.4px;
   box-shadow: 0 5px 10px 0.1px rgb(105, 105, 105);
}
.mes-pub h3 {
  padding-top: 15px 20px;
  width: 680px;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
  color: white;
  border: none;
  border-radius: 15px 15px 0 0 ;
  background-color: #4599FF;
  text-transform: uppercase;
}
.mes-posts {

  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 15px;
  width: 665px;
  background-color: white;
  line-height: 1.75rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid rgb(230, 236, 240);
  box-shadow: 0 5px 10px 0.1px rgb(105, 105, 105);
  margin-bottom: 10px;
  border-radius: 15px;
 
 
}
.avis{
  margin-top: 15px;
  margin-left: 15px;
   
  
}
footer { 
  position: relative;
height: 55px;
  background:var(--white-2);  border:none;
  border-top:2px solid #44caff;
  border-radius: 0 15px 0 0  ;
padding: 10px 20px;
background-color:var(--white-2);
margin-top: 35px;
}
.f img{
  width: 120p;
  height: 50px;
  margin-left: 0;}
.footer-top {  padding: 20px 0 50px; }

.footer-brand { margin-bottom: 20px; }

.vv{margin-top: 35px;
  height: 150px;
  background-color: var(--white-2);
}
.footer-top .vv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
}

.footer-text {
 color: var(--rythm);
 font-size: var(--fs-6);
 margin-bottom: 20px;
}
.social-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.social-link {
  color: var(--rythm);
  font-size: var(--fs-4);
  margin-bottom: 10px;
}

.social-link:is(:hover, :focus) { color: var(--french-rose); }

.footer-link-list:not(:last-child) { margin-bottom: 30px; }

 .link-title { margin-bottom: 15px;
font-size: 1.0em; }
.nom-prenom{
  display: flex;
  gap: 12px;
}
.nom-prenom input{
  width:155px;
}
.footer-link {

color: var(--cool-gray);
font-size: var(--fs-6);
margin-bottom: 10px;
max-width: 150px;

}
.footer-link-box{
  display: flex;
  gap: 100px;

}
.footer-link:is(:hover, :focus) { color: var(--french-rose); }

.footer-bottom {
  padding: 10px 15px;
  height: 5px;
  border-top: 1px solid hsla(0, 0%, 18%, 0.2);
}

.copyright {
color: var(--cool-gray);
text-align: center;
font-size: var(--fs-6);
height: 5px;
}

.copyright a {
display: inline-block;
color: var(--cool-gray);
}

.copyright a:is(:hover, :focus) { color: var(--french-rose); }
.main_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(bg.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(10px);
}

