/* ===== Google Font Import - Poppins ===== */

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Expletus Sans";    font-weight: 500;
    text-decoration: none;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #44caff;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    
    min-height: 100vh;
    background-color: var(--primary-color);
}
.imgmed{
    width: 100%;
}
body.dark{
    --primary-color: #141529;
    --panel-color: #141529;
    --text-color: rgb(255, 255, 255);
    --black-light-color: rgb(255, 255, 255);
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #44caff;
    --box2-color: #44caff;
    --box3-color: #44caff;
    --title-icon-color: rgb(255, 255, 255);
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}
h3{
    background-color: #0099ff;
    color: white;
    width: 100%;
    padding: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.clo{
    width: 73px;
}nav .logo-image{
    display: flex;
    justify-content: center;
    width: 50px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.logo img{
    width: 120p;
    height: 50px;
    left: 250px;
    
    }

nav .logo-name .ren{
    display: inline-flex;

    font-weight: 700;

    color: var(--text-color);
    margin-left: 15px;
    font-weight: 0;
   justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 1px;
     font-size:  1.2em ;
     align-items: center;
    transition: var(--tran-05);
  
}


nav.clo .logo-name {
    opacity: 0;
    pointer-events: none;
}

.table-user-information{
  display: flex;
 
  border: 1px solid #44caff;
  border-radius: 8px ;
  margin-top: 15px;

  width: 100%;

}

.table-user-information .fff {
   
    width: 100%;
}
.panel-body{
width: 100%;
margin-bottom: 15px;
    

}
.overview button{
    background-color: white;
    border: 1px solid #44caff ;
    border-radius: 5px;
    color: #000;
position: relative;
left: 45%;
width: 150px;
transition: 0.5s;
}
.overview button:hover{
    background-color: #44caff;
position: relative;
left: 45%;
width: 150px;
color: white;

}
.table-user-information .fff td{
   border-left: 1px solid #44caff;
   text-align:left;
   min-width: 250px;
   max-width: 800px;
}
.table-user-information thead {
  color: #0099ff;
  text-transform: capitalize;
 align-items: center;
 text-align: center;
 display: flex;
 justify-content: center;
border: none;
width: 200px;
 }
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 14px;
    font-weight: 600;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.clo li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);

    opacity: 100%;
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);

}
nav.clo ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.clo ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top #rr{

    width: 40px;
    border-radius: 50%;
}


.loop {
   
display:flex;
align-items: center;
line-height: 50px;
justify-content: space-evenly;

}
.loop input ,.loop select {
    margin: 10px  0;
    padding: 8px ;
   border: none;
    outline: none;
    width: 500px;
background-color: var(--panel-color);
    border-radius: 5px;
    border: 2px solid #0099ff;
}
.loop .select  {
    background-color: var(--panel-color);
    color: var(--text-color);
}
.loop label{
    color: var(--text-color);
}
.loop button{
    color: #fff;
    background-color: #0099ff;
    width: 300px;
    padding: 8px;
    margin-left: 100px;
    border-color: transparent;
    border-radius: 5px;
    line-height: 20px;
}
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
   
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
    text-transform: uppercase;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.table {
    width: 100%;
}





button {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
}

td button:nth-child(1) {
    background-color: #0298cf;
}

td button:nth-child(2) {
    background-color: #f80000;
}

.add_new {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #0298cf;
}

input {
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
    color: #0298cf;
}

.table_section {
    height: 600px;
    overflow: scroll;
}

table {
 
    table-layout: fixed;
    min-width: 1050px;
    border-collapse: collapse;
}

thead th {
    
    top: 0;
    width: 1px;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}



tr:hover td {
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fc;
}



::placeholder {
    color: #0298cf;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.clo{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.clo .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.clo li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.clo ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.clo ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.clo{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.clo .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.clo li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.clo ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.clo ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}
.info-screen{
    width: 850px;
}
.modal{
    padding: 50px;
} 
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-footer .Enregestrer
{
    width: 110px;
    background-color: #ffffff; 
    color: #000000;
    transition: 0.5s;
    border: 1px solid #44caff;
    border-radius: 8px  ;
    } 
    .modal-footer .Enregestrer:hover{
        background-color: #44caff; 
        color: white;
      
    }
   
.modal-footer .Retour{
    width: 90px; 
    background-color: #ffffff; 
    color: #000000;
    transition: 0.5s;
    border: 1px solid #ce4040;
    border-radius: 8px ;
} 
.modal-footer .Retour:hover{
    background-color: #ce4040;
    color: white;
}

.form-row #tel,.form-row #email ,.form-row #mdp 
{
    margin-bottom: 15px;}

.form-row #adresse,.form-row #Spécialité
 {
     margin-left: 10px; 
     width: 450px;
      margin-bottom: 15px; 
    }